.toaster {
	position: absolute;
	right: 530px;
}
.toasterHeader {
	position: absolute;
	right: 650px;
	top: 450px;
	color: white;
	font-size: 62px;
}
.toasterParagraph{
	position: absolute;
	left: 300px;
	top: 650px;
	color: white;
	font-size: 32px;
}
body {
background: black;
}